
<div class="panel panel-primary">
	<div class="panel-heading"> <h4>About Us</h4></div>
	<div class="panel-body">
		<p>Welcome go my new Pinteresting App. This App is part of my One Month Rails project.</p>
	</div>
</div>